.venv
build
OperationCredit.spec
app/services
obsolete
__pycache__
Operation_Credits_Eel
nova_function_modal
app.spec
database
/Operations_Credit_v2.1.0.spec
/dist/Operations_Credit_v2.1.0.exe
/installer/output/
